// Landing Page

@import 'svg-bg';

.landing {
  grid-column: 1 / last-line;
  background-color: $bg-main;

  .main {
    max-width: 1500px;
    min-height: 80vh;
    margin: auto;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    color: $dark-300;
    margin: 1.5rem 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: left;

    span {
      font-weight: 700;
      color: #fff;
    }
  }

  button {
    cursor: pointer;
    padding: 1rem 1.2rem;
    margin: 2rem 0;
    font-size: 1.3rem;
    color: $text;
    background-color: #1db954;
    border: 1px solid $green-700;
    transition: background-color 0.35s ease;

    &:hover {
      background-color: #1ed760;
    }
  }

  .image-container {
    position: relative;
    max-width: 500px;
    object-fit: cover;
    transform: skewY(10deg);
    border-right: 2px solid $dark-400;
    border-bottom: 2px solid $dark-400;
    margin: 0 0 0 2rem;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 0rem 2rem;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background: linear-gradient(
          to bottom,
          $dark-900 2%,
          #00000000 40%,
          #00000000 100%
        ),
        linear-gradient(to top, $dark-900 2%, #00000000 40%, #00000000 100%);
      width: 100%;
      height: 100%;
    }
  }

  .secondary {
    min-height: 50vh;
    border-top: 1px solid #fff;
    @include svg-bg($dark-900);
    margin: auto;
    padding: 0 0 25vh;

    h1 {
      text-align: center;
      margin: 4rem 0 6rem;
    }
  }

  .info {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    max-width: 1700px;
    margin: auto;
    flex-wrap: wrap;

    h3 {
      color: $text;
      border-bottom: 1px solid $dark-500;
      text-align: center;
      margin: 0 0.8rem 1rem;
    }

    &-item {
      line-height: 1.8;
      margin: 0.3rem;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      max-width: 350px;
      background-color: transparentize($color: $bg-secondary, $amount: 0.5);
    }
  }

  .icon {
    &-container {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin: 0 0 1.2rem;

      &-steps {
        background-color: transparentize($color: $blue-200, $amount: 0.8);
        color: $blue-600;
      }

      &-track {
        background-color: transparentize($color: $green-200, $amount: 0.8);
        color: $green-600;
      }

      &-customize {
        background-color: transparentize($color: $orange-200, $amount: 0.8);
        color: $orange-600;
      }

      &-finish {
        background-color: transparentize($color: $red-200, $amount: 0.8);
        color: $red-600;
      }
    }
  }
}
