// Navbar
.navbar {
  position: relative;
  z-index: 1;
  height: 100%;
  opacity: 0.9;
  text-align: center;
  background-color: $bg-secondary;

  ul {
    list-style-type: none;
    top: 20vh;
    position: sticky;
  }

  li {
    cursor: pointer;
    &:hover {
      color: $bg-main;
      background-color: $text;
    }
  }

  .nav-link {
    text-decoration: none;
    display: block;

    &:visited {
      color: inherit;
    }
  }

  .nav-link,
  p {
    cursor: pointer;
    color: inherit;
    padding: 1rem;
    margin: 2rem 0rem;
  }
}
