// Navbar
.navbar {
  position: relative;
  z-index: 1;
  height: 100%;
  opacity: 0.9;
  text-align: center;
  background-color: $bg-secondary;

  ul {
    list-style-type: none;
    top: 20vh;
    position: sticky;
  }

  li {
    cursor: pointer;
    &:hover {
      color: $bg-main;
      background-color: $text;
    }
  }

  .nav-link {
    text-decoration: none;
    display: block;

    &:visited {
      color: inherit;
    }
  }

  .nav-link,
  p {
    cursor: pointer;
    color: inherit;
    padding: 1rem;
    margin: 2rem 0rem;
  }

  &-showing {
    display: initial;
  }
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 2vh;
  margin: 0.5rem;
  left: 0.5vw;
  opacity: 0.6;
  width: 40px;
  height: 40px;
  background-color: $bg-main;
  border: 1px solid $dark-600;
  z-index: 5;
}
