// https://colordesigner.io/#0A0A0A-D9CB9E-374140-2A2C2B-BDC3C7
$dark-900: #0a0a0a;
$dark-800: #202020;
$dark-700: #373737;
$dark-600: #636363;
$dark-500: #797979;
$dark-400: #909090;
$dark-300: #a6a6a6;
$dark-200: #d2d2d2;
$dark-100: #e9e9e9;

// https://colordesigner.io/#EE0523-D9CB9E-374140-2A2C2B-BDC3C7
$red-900: #180103;
$red-800: #300107;
$red-700: #5f020e;
$red-600: #8f0315;
$red-500: #ee0523;
$red-400: #fb2e48;
$red-300: #fc6276;
$red-200: #fd96a4;
$red-100: #fecbd1;

// https://colordesigner.io/#FF8423-D9CB9E-374140-2A2C2B-BDC3C7
$orange-900: #3a1a00;
$orange-800: #743300;
$orange-700: #914000;
$orange-600: #e86600;
$orange-500: #ff8423;
$orange-400: #ff9d4f;
$orange-300: #ffa965;
$orange-200: #ffc291;
$orange-100: #ffdabd;

// https://colordesigner.io/#FFF223-D9CB9E-374140-2A2C2B-BDC3C7
$yellow-900: #3a3700;
$yellow-800: #746d00;
$yellow-700: #aea400;
$yellow-600: #e8da00;
$yellow-500: #fff223;
$yellow-400: #fff54f;
$yellow-300: #fff665;
$yellow-200: #fff891;
$yellow-100: #fffbbd;

// https://colordesigner.io/#38C172-D9CB9E-374140-2A2C2B-BDC3C7
$green-900: #06130b;
$green-800: #113a22;
$green-700: #1c6139;
$green-600: #278750;
$green-500: #38c172;
$green-400: #5dd08e;
$green-300: #71d69c;
$green-200: #9ae2b8;
$green-100: #c2edd5;

$bg-main: $dark-900;
$bg-secondary: $dark-800;
$text: $dark-100;
