@media (max-width: 1184px) {
  .main-grid {
    column-gap: 0;
  }

  .stats {
    max-width: 100%;
    margin: 2rem;
  }

  .accordion-wrapper {
    margin: 0;
    padding: 1rem;
  }

  .bottom-nav {
    right: -20px;
  }

  .track-section {
    min-width: 310px;

    .tracks {
      width: 95%;
    }
  }
}

@media (max-width: 999px) {
  .navbar {
    display: none;
    position: fixed;

    ul {
      position: relative;
      top: 15vh;
    }

    &-showing {
      display: initial;
    }
  }

  .navbar-toggle {
    display: flex;
  }

  .main-grid {
    grid-template-columns: 20fr 6fr;
  }
}

@media (max-width: 910px) {
  .main-grid {
    grid-template-columns: 1fr;
  }

  .track-section {
    display: none;
  }

  .bottom-nav {
    right: 20px;

    .button-container {
      top: 80vh;
    }
  }
}

@media (max-width: 770px) {
  .footer {
    margin: 2rem 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;

    h3 {
      border-left: none;
      border-bottom: 1px solid $dark-500;
      padding: 0.2rem 3rem 0.3rem;
      margin: 0 0 0.7rem;
    }

    .links {
      margin: 0;
      padding: 0;
      border: none;
      div {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 590px) {
  .accordion-wrapper {
    padding: 0.3rem;
  }

  .accordion-item {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 3px;
    padding: 0.1rem;
  }

  .card {
    margin: 0.3rem;
    width: 120px;

    .text {
      font-size: 0.8rem;

      p:first-child {
        margin: 0 0 0.2rem;
        width: 6rem;
        line-height: 1.3;
        height: 2rem;
      }
    }

    &-add {
      height: 120px;
      width: 100px;
    }
  }

  .card,
  .card-artist {
    .img-container {
      width: 100px;
      height: 100px;
      flex-basis: initial;
      max-height: initial;
      min-width: initial;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (pointer: coarse), (max-width: 1024px) {
  .card .controls {
    height: 100%;

    &-toggle {
      display: flex;
    }
  }
}
