// Track section and tracks

.track-section {
  min-width: 370px;
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tracks {
  position: sticky;
  top: 2rem;
  width: 85%;
  min-height: 65vh;
  background-color: $bg-secondary;
  border: 1px solid $dark-700;
  padding: 1.7rem;
  margin: 5rem 0rem;

  .header-container {
    width: 100%;
    height: 4.5rem;
    position: relative;
    margin: 0.2rem 0;
  }

  h2 {
    backface-visibility: hidden;
    font-weight: 600;
    user-select: none;
    line-height: 1.35;
    margin: 0 0 1rem 0;
    text-align: right;
    padding: 0 0.5rem 0.5rem;
    height: 4.5rem;
    overflow: hidden;
    border-bottom: 1px solid #fff;
  }

  h3 {
    height: 100%;
    user-select: none;
    text-align: center;
    margin: 10rem 0;
    color: $dark-500;
  }

  .album-name {
    background: transparentize($color: $dark-600, $amount: 0.5);
    position: relative;
    bottom: 72px;
  }

  .header-bg {
    position: relative;
    background: $dark-800;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    filter: blur(4px);
  }
}

.track {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  background-color: $bg-main;
  font-size: 1.1rem;
  height: 100%;
  margin: 0 0 0.1rem 0;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;

    .controls {
      opacity: 1;
    }
  }

  .listens {
    min-width: 3.2rem;
    text-align: center;
    position: relative;
    right: 15px;
    margin: 0.5rem 0rem;
    z-index: 1;
    padding: 0 1rem;
    box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.54);

    &-big {
      &::after {
        content: '+';
        position: absolute;
      }
    }
  }

  &-text {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    line-height: 1.4;
    margin: 0 0.5rem 0 0;

    .track-name {
      flex: 1 0 auto;
      max-width: 15rem;
    }

    .track-info {
      font-size: 0.7rem;
      flex-shrink: 2;
      color: $dark-500;
    }
  }

  .controls {
    display: flex;
    margin: 0 0.5rem 0 auto;
    opacity: 0.2;
    padding: 0 0.1rem;
    transition: opacity 0.3s ease;

    .button {
      cursor: pointer;
      margin: 0 0.25rem;

      &-inc {
        color: $blue-500;

        &:hover {
          color: $blue-300;
        }
      }

      &-dec {
        color: $red-500;

        &:hover {
          color: $red-300;
        }
      }

      &-track-on {
        color: $green-500;

        &:hover {
          color: $green-300;
        }
      }

      &-track-off {
        color: $yellow-500;

        &:hover {
          color: $yellow-300;
        }
      }
    }
  }
}

// Variations
@mixin variations($list-bg, $h-list-bg, $h-bg-col) {
  .listens {
    background-color: $list-bg;
    background-size: 0 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: linear-gradient($list-bg, $list-bg);
    transition: 0.15s background-size linear;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      270deg,
      $dark-900 42%,
      transparentize($h-bg-col, 0.3) 100%
    );
    z-index: -5;
    transition: opacity 0.3s ease-out;
    opacity: 0;
  }

  &:hover {
    z-index: 3;

    .listens {
      background-image: linear-gradient($h-list-bg, $h-list-bg);
      background-size: 100% 100%;
      color: $green-800;
    }

    &::before {
      opacity: 1;
    }

    .track-info {
      color: $dark-300;
    }
  }
}

.track {
  &-0 {
    @include variations($red-800, $red-600, $red-600);
  }

  &-1 {
    @include variations($orange-900, $orange-600, $orange-700);
  }

  &-2 {
    @include variations($yellow-900, $yellow-600, $yellow-800);
  }

  &-3 {
    @include variations($blue-800, $blue-600, $blue-600);
  }

  &-4 {
    @include variations($green-800, $green-600, $green-600);
  }

  &-5 {
    color: $dark-400;

    .listens {
      background-color: $dark-700;
    }

    &:hover {
      .track-name {
        transition: color 0.4s ease;
        color: $dark-100;
      }
    }
  }
}
