@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import 'palette';
@import 'stats';
@import 'accordion';
@import 'card';
@import 'tracks';
@import 'navbar';
@import 'footer';
@import 'bottom-nav';
@import 'alerts';
@import 'spinner';
@import 'modal';
@import 'settings';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $bg-main;
  color: $text;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

button:focus {
  outline: none;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 19fr 6fr;
  column-gap: 1rem;
  min-height: calc(100vh - 120px);

  .main-content {
    position: relative;
  }
}

.error {
  user-select: none;
  overflow: hidden;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;

  h1 {
    font-size: 4rem;
    margin: 2rem 0;
  }

  h2 {
    color: $dark-500;
    font-size: 2rem;
  }
}

.library-nav {
  display: flex;
  position: fixed;
  width: 80vw;
  margin: 0 10vw;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

@import 'queries';
