@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import 'palette';
@import 'stats';
@import 'accordion';
@import 'card';
@import 'tracks';
@import 'navbar';
@import 'footer';
@import 'bottom-nav';
@import 'alerts';
@import 'spinner';
@import 'modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $bg-main;
  color: $text;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 19fr 6fr;
  column-gap: 1rem;
  min-height: calc(100vh - 120px);

  .main-content {
    position: relative;
  }
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

.example-thumb {
  font-size: 0.5em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 50%;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: #f00;
}

.example-track.example-track-2 {
  background: #0f0;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 20px;
  width: 25px;
  height: 25px;
}
