@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import 'palette';

:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $bg-main;
  color: $text;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 20fr 5fr;
  column-gap: 1rem;
  min-height: 90vh;
}

// Navbar
.navbar {
  z-index: 1;
  height: 100%;
  opacity: 0.9;
  text-align: center;
  background-color: $bg-secondary;

  ul {
    list-style-type: none;
    margin-top: 7rem;
  }

  li {
    &:hover {
      color: $bg-main;
      background-color: $text;
    }
  }

  .nav-link {
    text-decoration: none;
    display: block;

    &:visited {
      color: inherit;
    }
  }

  .nav-link,
  p {
    cursor: pointer;
    color: inherit;
    padding: 1rem;
    margin: 2rem 0rem;
  }
}

// Footer
.footer {
  height: 100px;
  background-color: $bg-secondary;
}

// Accordion
.accordion-wrapper {
  margin: 3rem;
  padding: 2rem;
}

.accordion-item {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 5px;
  background-color: $bg-secondary;
  margin: 0.5rem 0rem;
  overflow: auto;
  height: auto;

  &.collapsed {
    max-height: 0;
    overflow: hidden;
  }
}

.accordion-title {
  font-weight: 300;
  cursor: pointer;
  color: $text;
  padding: 0.5rem 1.5rem;
  border-bottom: solid 1px $text;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }

  &:hover {
    background-color: $dark-700;
  }

  &.open {
    font-weight: 500;
  }

  &.open {
    &::after {
      content: '';
      border-top: 0;
      border-bottom: 5px solid;
    }
  }
}

// Track section
.track-section {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
}

// Card
.card {
  cursor: pointer;
  background-color: $bg-main;
  box-shadow: inset 0 0 0 1px rgba(221, 238, 255, 0.35);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
  max-width: 500px;
  max-height: 500px;

  .img-container {
    position: relative;

    img {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .controls {
    visibility: hidden;
  }

  &:hover {
    .controls {
      visibility: visible;
    }
  }
}

img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

// Card button
.button {
  display: inline-block;
  position: absolute;
  z-index: 2;
  background-color: $dark-500;
  padding: 0.2rem 0.7rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.alert {
  padding-top: 0.7rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

// Modal
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $bg-main;
    opacity: 0.7;
  }
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  max-height: 80%;
  border-radius: 3px;
  max-width: 65%;
  padding: 2rem;
  overflow-y: auto;

  &-header {
    display: flex;
    justify-content: flex-end;
  }

  .search-form {
    display: block;

    & input {
      width: 80%;
      margin: 15px;
      padding: 5px;
    }

    & .search-button {
      padding: 5px;
      background-color: whitesmoke;
    }
  }
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink: 1;
}

.artist-description {
  margin: auto;
  width: 80%;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

.example-thumb {
  font-size: 0.5em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 50%;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: #f00;
}

.example-track.example-track-2 {
  background: #0f0;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 20px;
  width: 25px;
  height: 25px;
}
